@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: auto;
    background: rgb(203, 212, 225);
    padding: 2.7rem 0;
}
main{
    width: 1280px;
    height: 780px;
    background-color: #f2f9ff;
}
